@{
    ViewData["Title"] = "Recipes";
	ViewData["Recipes"] = "current-menu-item";
}
<!--wrap-->
<div class="wrap clearfix">
	<!--breadcrumbs-->
	<nav class="breadcrumbs">
		<ul>
			<li><a href="/" title="Home">Home</a></li>
			<li>Recipes</li>
		</ul>
	</nav>
	<!--//breadcrumbs-->
	<!--row-->
	<div class="row">
		<header class="s-title">
			<h1>Recipes</h1>
		</header>

		<!--content-->
		<section class="content three-fourth">
			<!--entries-->
			<div class="entries row">
				<!--item-->
				<div class="entry one-third">
					<figure>
						<img src="@Url.Content("~/")images/img6.jpg" alt="" />
						<figcaption><a href="./Home/Recipe"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
					</figure>
					<div class="container">
						<h2><a href="./Home/Recipe">Thai fried rice with fruit and vegetables</a></h2>
						<div class="actions">
							<div>
								<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
								<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
								<div class="comments"><i class="fa fa-comment"></i><a href="./Home/Recipe#comments">27</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--item-->
				<!--item-->
				<div class="entry one-third">
					<figure>
						<img src="@Url.Content("~/")images/img5.jpg" alt="" />
						<figcaption><a href="./Home/Recipe"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
					</figure>
					<div class="container">
						<h2><a href="./Home/Recipe">Spicy Morroccan prawns with cherry tomatoes</a></h2>
						<div class="actions">
							<div>
								<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
								<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
								<div class="comments"><i class="fa fa-comment"></i><a href="./Home/Recipe#comments">27</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--item-->
				<!--item-->
				<div class="entry one-third">
					<figure>
						<img src="@Url.Content("~/")images/img8.jpg" alt="" />
						<figcaption><a href="./Home/Recipe"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
					</figure>
					<div class="container">
						<h2><a href="./Home/Recipe">Super easy blueberry cheesecake</a></h2>
						<div class="actions">
							<div>
								<div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
								<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
								<div class="comments"><i class="fa fa-comment"></i><a href="./Home/Recipe#comments">27</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--item-->
				<!--item-->
				<div class="entry one-third">
					<figure>
						<img src="@Url.Content("~/")images/img7.jpg" alt="" />
						<figcaption><a href="./Home/Recipe"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
					</figure>
					<div class="container">
						<h2><a href="./Home/Recipe">Refreshing banana split with a twist for adults</a></h2>
						<div class="actions">
							<div>
								<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
								<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
								<div class="comments"><i class="fa fa-comment"></i><a href="./Home/Recipe#comments">27</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--item-->
				<!--item-->
				<div class="entry one-third">
					<figure>
						<img src="@Url.Content("~/")images/img3.jpg" alt="" />
						<figcaption><a href="./Home/Recipe"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
					</figure>
					<div class="container">
						<h2><a href="./Home/Recipe">Sushi mania: this is the best sushi you have ever tasted</a></h2>
						<div class="actions">
							<div>
								<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
								<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
								<div class="comments"><i class="fa fa-comment"></i><a href="./Home/Recipe#comments">27</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--item-->
				<!--item-->
				<div class="entry one-third">
					<figure>
						<img src="@Url.Content("~/")images/img4.jpg" alt="" />
						<figcaption><a href="./Home/Recipe"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
					</figure>
					<div class="container">
						<h2><a href="./Home/Recipe">Princess puffs - an old classic at its best</a></h2>
						<div class="actions">
							<div>
								<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
								<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
								<div class="comments"><i class="fa fa-comment"></i><a href="./Home/Recipe#comments">27</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--item-->
				<!--item-->
				<div class="entry one-third">
					<figure>
						<img src="@Url.Content("~/")images/img13.jpg" alt="" />
						<figcaption><a href="./Home/Recipe"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
					</figure>
					<div class="container">
						<h2><a href="./Home/Recipe">Tasty salmon apetizers with sour cream</a></h2>
						<div class="actions">
							<div>
								<div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
								<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
								<div class="comments"><i class="fa fa-comment"></i><a href="./Home/Recipe#comments">27</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--item-->
				<!--item-->
				<div class="entry one-third">
					<figure>
						<img src="@Url.Content("~/")images/img14.jpg" alt="" />
						<figcaption><a href="./Home/Recipe"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
					</figure>
					<div class="container">
						<h2><a href="./Home/Recipe">An incredible vegetarian hamburger</a></h2>
						<div class="actions">
							<div>
								<div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
								<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
								<div class="comments"><i class="fa fa-comment"></i><a href="./Home/Recipe#comments">27</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--item-->
				<!--item-->
				<div class="entry one-third">
					<figure>
						<img src="@Url.Content("~/")images/img15.jpg" alt="" />
						<figcaption><a href="./Home/Recipe"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
					</figure>
					<div class="container">
						<h2><a href="./Home/Recipe">Spaghetti carbonara with rustic bread</a></h2>
						<div class="actions">
							<div>
								<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
								<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
								<div class="comments"><i class="fa fa-comment"></i><a href="./Home/Recipe#comments">27</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--item-->
				<!--item-->
				<div class="entry one-third">
					<figure>
						<img src="@Url.Content("~/")images/img16.jpg" alt="" />
						<figcaption><a href="./Home/Recipe"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
					</figure>
					<div class="container">
						<h2><a href="./Home/Recipe">Homemade cheesy spinach pizza with an egg on top</a></h2>
						<div class="actions">
							<div>
								<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
								<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
								<div class="comments"><i class="fa fa-comment"></i><a href="./Home/Recipe#comments">27</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--item-->
				<!--item-->
				<div class="entry one-third">
					<figure>
						<img src="@Url.Content("~/")images/img17.jpg" alt="" />
						<figcaption><a href="./Home/Recipe"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
					</figure>
					<div class="container">
						<h2><a href="./Home/Recipe">Heavenly light and creamy vanilla tart</a></h2>
						<div class="actions">
							<div>
								<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
								<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
								<div class="comments"><i class="fa fa-comment"></i><a href="./Home/Recipe#comments">27</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--item-->
				<!--item-->
				<div class="entry one-third">
					<figure>
						<img src="@Url.Content("~/")images/img18.jpg" alt="" />
						<figcaption><a href="./Home/Recipe"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
					</figure>
					<div class="container">
						<h2><a href="./Home/Recipe">Exquisite plum and cherry pie</a></h2>
						<div class="actions">
							<div>
								<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
								<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
								<div class="comments"><i class="fa fa-comment"></i><a href="./Home/Recipe#comments">27</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--item-->

				<div class="quicklinks">
					<a href="#" class="button">More recipes</a>
					<a href="javascript:void(0)" class="button scroll-to-top">Back to top</a>
				</div>
			</div>
			<!--//entries-->
		</section>
		<!--//content-->
		<!--right sidebar-->
		<aside class="sidebar one-fourth">
			<div class="widget">
				<ul class="categories right">
					<li class="active"><a href="#">All recipes</a></li>
					<li><a href="#">Apetizers</a></li>
					<li><a href="#">Cocktails</a></li>
					<li><a href="#">Deserts</a></li>
					<li><a href="#">Eggs</a></li>
					<li><a href="#">Equipment</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Fish</a></li>
					<li><a href="#">Fitness</a></li>
					<li><a href="#">Healthy</a></li>
					<li><a href="#">Asian</a></li>
					<li><a href="#">Mexican</a></li>
					<li><a href="#">Pizza</a></li>
					<li><a href="#">Kids</a></li>
					<li><a href="#">Meat</a></li>
					<li><a href="#">Snacks</a></li>
					<li><a href="#">Salads</a></li>
					<li><a href="#">Storage</a></li>
					<li><a href="#">Vegetarian</a></li>
				</ul>
			</div>
			<div class="widget">
				<h3>Advertisment</h3>
				<a href="#"><img src="@Url.Content("~/")images/advertisment.jpg" alt="" /></a>
			</div>
		</aside>
		<!--//right sidebar-->
	</div>
	<!--//row-->
</div>
<!--//wrap-->